.welcome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 100px auto;
  padding: 40px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.text-content {
  width: 70%;
}

.welcome-title {
  color: #f0f8ff;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 0;
  font-family: "Superior title", Times New Roman, sans-serif;
  font-size: 60px;
  font-weight: 400;
}

.welcome-description {
  color: #f0f8ff;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid #f0f8ff;
  font-family: "Pitchsans Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.contact-section {
  margin-top: 30px;
  text-align: left;
}

.contact-link {
  margin-right: 15px;
  color: #f0f8ff;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #415a77;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
  border: 1px solid #f0f8ff;
}

body {
  justify-content: center;
  min-height: 100vh;
}
